<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{% endblock %}</title>
  <!-- set viewport -->
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
  <!-- set viewport and disable zoom on input focus on iOS -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="Darren Zanders | Congregation Form Submission System">
  <!-- normalize.css -->
  <link type="text/css" rel="stylesheet" href="{{URI.ASSETS_URI}}/css/normalize.css" />
  <!-- Individual Elements CSS -->
  <link type="text/css"  rel="stylesheet" href="{{URI.ASSETS_URI}}/css/elements-min.css" />
  <!-- Form Styles -->
  <link type="text/css"  rel="stylesheet" href="{{URI.ASSETS_URI}}/css/forms-min.css" />
  <!-- Admin Styles -->
  <link type="text/css"  rel="stylesheet" href="{{URI.ASSETS_URI}}/css/admin-min.css" />
  <!-- Application CSS -->
  <link type="text/css"  rel="stylesheet" href="{{URI.ASSETS_URI}}/css/app-min.css" />
  <!-- Media Queries -->
  <link type="text/css"  rel="stylesheet" href="{{URI.ASSETS_URI}}/css/media-min.css" />
  <!-- Font Imports -->
  <link type="text/css"  rel="stylesheet" href="{{URI.ASSETS_URI}}/css/fonts-min.css" />
  <!-- Ion Icons -->
  <link defer type="text/css" rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
</head>
