{% import 'Includes/Macros.html' as m %}

<div class="box today">
  <div class="box-header">
    <p>Miscellaneous</p>
  </div>
  <div class="box-content">
    <div class="form-row">
      <small>Publishers Under Judicial Restriction</small>
      <p>{{m.o(v.publisherjudicial)}}</p>
    </div>
    <div class="form-row">
      <small>Cannot Represent Congregation in Prayer</small>
      <p>{{m.o(v.publishernoprayer)}}</p>
    </div>
  </div>
</div>
