<!-- Meal Shedule Form -->
<div class="box visit-form-box right hide" id="form2" data-order="2">

  <div class="box-header">
    <p>Meal Schedule <span class="small">(2/3)</spane> </p>
  </div>

  <div class="box-content">

    <div class="note">
      <p><strong>Please Note:</strong></p>
      <p>Sister Zanders is allergic to garlic and ginger.</p>
    </div>

    <form class="visit-form" for="1" id="mealschedule-form" action="">
      <div class="row">
        <h1>Wednesday</h1>

        <div class="form-row required">
          <label>Name of Host</label>
          <input type="text" name="m1" value="">
        </div>

        <div class="form-row required">
          <label>Phone Number</label>
          <input type="text" name="m2">
        </div>

        <div class="form-row required">
          <label>Address</label>
          <input type="text" name="m3" value="" placeholder="555 Kingdom St.">
          <div class="inline-input address">
            <input type="text" class="long" name="m4" value="" placeholder="City"><input type="text" class="short" name="m5" maxlength="2" placeholder="State">
          </div>
          <div class="inline-input address">
            <input type="text" class="long" name="m6" value="United States" placeholder="United States"><input type="text" class="short" name="m7" maxlength="5" placeholder="Zip">
          </div>
        </div>

        <div class="form-row">
          <label>Directions</label>
          <textarea name="m8" rows="8" cols="30"></textarea>
        </div>
      </div>

      <div class="row">
        <h1>Thursday</h1>
        <div class="form-row required">
          <label>Name of Host</label>
          <input type="text" name="m9" value="">
        </div>

        <div class="form-row required">
          <label>Phone Number</label>
          <input type="text" name="m10" value="">
        </div>

        <div class="form-row required">
          <label>Address</label>
          <input type="text" name="m11" value="" placeholder="555 Kingdom St.">
          <div class="inline-input address required">
            <input type="text" class="long" name="m12" value="" placeholder="City"><input type="text" class="short" name="m13" maxlength="2" placeholder="State">
          </div>
          <div class="inline-input address">
            <input type="text" class="long" name="m14" value="United States" placeholder="United States"><input type="text" class="short" name="m15" maxlength="5" placeholder="Zip">
          </div>
        </div>

        <div class="form-row">
          <label>Directions</label>
          <textarea name="m16" rows="8" cols="30"></textarea>
        </div>
      </div>

      <div class="row">
        <h1>Friday</h1>
        <div class="form-row required">
          <label>Name of Host</label>
          <input type="text" name="m17" value="">
        </div>

        <div class="form-row required">
          <label>Phone Number</label>
          <input type="text" name="m18" value="">
        </div>

        <div class="form-row required">
          <label>Address</label>
          <input type="text" name="m19" value="" placeholder="555 Kingdom St.">
          <div class="inline-input address">
            <input type="text" class="long" name="m20" value="" placeholder="City"><input type="text" class="short" name="m21" maxlength="2" placeholder="State">
          </div>
          <div class="inline-input address">
            <input type="text" class="long" name="m22" value="United States" placeholder="United States"><input type="text" class="short" name="m23" maxlength="5" placeholder="Zip">
          </div>
        </div>

        <div class="form-row">
          <label>Directions</label>
          <textarea name="m24" rows="8" cols="30"></textarea>
        </div>
      </div>

      <!-- Hold visit id -->
      <input type="hidden" name="visitId" value="{{v.visitId}}" />

      <div class="button-row">
        <button data-action="back" type="button" for="2" class="form-submit-button">back</button>
        <button data-action="next" data-formval="submit" type="button" for="2" class="form-submit-button positive">next</button>
      </div>
    </form>
  </div>
</div>
