{% extends 'Base.html' %}

{% set title = "#{SESSION.name} Password Reset" %}

{% block content %}

<div class="spacer50"></div>

<div class="system-box">
  <p class="label text-center">{{SESSION.name}} Congregation</p>
  <form id="forgot-password-form">
    <p id="form-error"></p>
    <input type="password" name="password" placeholder="new password">
    <p class="form-hint">Must be at least 6 characters long</p>
    <input type="password" name="password-confirm" placeholder="confirm password">
    <button class="form-submit-button" data-formval="submit">reset password</button>
  </form>
</div>

{% endblock %}
{% block javascript %}
<script>

  var resetPasswordForm = F('forgot-password-form', function(form, response){
    console.log(response);
    var r = JSON.parse(response);
    switch (r.code) {
      case 1:
        // success ... redirect to home
        window.location.href = "{{URI.HOME_URI}}";
        break;
      case 0:
        formvalErrorHandler(form, r.errors);
      break;
      case 3:
        // system error
        Notice('negative', 'Sorry, we could not reset your password. Please try again.')
      break;
      default:

    }
  },{
    method : 'POST',
    url : "{{URI.AJAX_URI}}"
  });
  resetPasswordForm.extras({
    action : 'congregationResetPassword'
  });

</script>
{% endblock %}
